.home-container {
    margin: 0px 40px;
}

.home-container h1 {
    margin-top: 25px;
    font-size: 48px;
    font-weight: bold;
}

.home-container p {
    color: #7e7e7e;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.home-container button {
    color: white;
}
