.navbar-container {
  background-color: #1890ff;
  color: white;
}

.navbar-container a {
  color: white;
  text-decoration: none;
}

.navbar-container h1 {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 41px;
  font-size: 24px;
  margin: 0px;
}